{% extends "cv_app/padre.html" %}

{% load static %}

{% block content %}


<section class="resume-section" id="experience">
                
    <div class="resume-section-content">
        <h2 class="mb-5">Experiencia</h2>
    {% if exp %}
        {% for i in exp %}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{i.puesto}}</h3>
                <div class="subheading mb-3">{{i.empresa}}</div>
                <p>{{i.tareas}}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{i.desde}} - {{i.hasta}}</span></div>
        </div>
        {% endfor %}
    {% endif %}    
    </div>

</section>

{% endblock %}