{% extends "cv_app/padre.html" %}

{% load static %}

{% block content %}

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Nicotra
            <span class="text-primary">Pablo Martín</span>
        </h1>
        <div class="subheading mb-5">
            Campana · Argentina · +54 (3489) 538-319 ·
            <a href="mailto:pmnicotra@gmail.com">pmnicotra@gmail.com</a>
        </div>
        <p class="lead mb-5">Tengo 29 años. Inicié mi carrera dentro de Banco Macro SA mientras me encontraba cursando el tercer año de la licenciatura en administración y luego, una vez finalizada la misma, me especialicé con un posgrado en finanzas el cual potenció mi carrera dentro de la organización logrando llegar a gerenciar una sucursal. Actualmente estoy dando un giro a mi carrera capacitándome como desarrollador de Python en busca de vincularme a una empresa o proyecto en el que apuesten por mi formación para seguir aprendiendo y así lograr cumplir con los objetivos que se planteen. </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/pnicotra/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/pmnicotra"><i class="fab fa-github"></i></a>
            
        </div>
    </div>
</section>

{% endblock %}
